# =========================
# Visual Studio / .NET
# =========================

# Build results
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
